.header-wrapper {
    width: 100%;
    height: 67px;
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    padding-left: 150px;
    display: flex;
    align-items: center;
    img {
        height: 25px;
    }
}
