/* colors */
.c-lightgrey {
    color: rgba(0, 0, 0, 0.2);
}
.App {
    height: 100vh;
    width: 100%;
    background-color: #f3f3f3;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

h1 {
    font-size: 24px;
}

.fw600 {
    font-weight: 600;
}

.fs-12 {
    font-size: 12px;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.r-0p {
    right: 0;
}

.t-m20p {
    top: -20px;
}

.h-10 {
    height: 10px;
}

.ml-5 {
    margin-left: 5px;
}
